<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="pretty" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%cyan(%d{HH:mm:ss.SSS}) %gray([%thread]) %highlight(%-5level) %magenta(%logger{36}) - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="json" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>

    <logger name="org.apache.kafka" level="WARN" additivity="false">
        <appender-ref ref="${LOG_APPENDER:-pretty}"/>
    </logger>

    <logger name="eventsink" level="TRACE" additivity="false">
        <appender-ref ref="${LOG_APPENDER:-pretty}"/>
    </logger>

    <root level="${LOG_LEVEL:-INFO}">
        <appender-ref ref="${LOG_APPENDER:-pretty}"/>
    </root>

</configuration>
