spring:
  datasource:
    url: 'jdbc:h2:file:./target/database/h2'
    username: sa
    password: null
    driverClassName: org.h2.Driver
  jpa:
    properties:
      hibernate.dialect:
  security:
    oauth2:
      resourceserver:
        jwt:
          # Må starte oauth-mock for å kjøre lokalt: docker-compose up mock-oauth2-service
          issuer-uri: http://localhost:8081/default
          accepted-audience: hello