<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Used to generate human readable messages. -->
    <appender name="pretty" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%cyan(%d{HH:mm:ss.SSS}) %gray([%thread]) %highlight(%-5level) %magenta(%logger{36}) - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Used to generate json formatted messages, preferred by NAIS. -->
    <appender name="json" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>

    <logger name="kafka.server.KafkaConfig" additive="false" level="OFF"/>
    <logger name="org.apache.kafka.clients.consumer.ConsumerConfig" additive="false" level="OFF"/>
    <logger name="org.apache.kafka.clients.producer.ProducerConfig" additive="false" level="OFF"/>
    <logger name="org.apache.kafka.clients.admin.AdminClientConfig" additive="false" level="OFF"/>

    <!-- logLevel and logAppender are configured as environment variables. -->
    <root level="${LOG_LEVEL:-INFO}">
        <appender-ref ref="${LOG_APPENDER:-pretty}"/>
    </root>

</configuration>
