<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Used to generate human readable messages. -->
    <appender name="STDOUT_PRETTY" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%cyan(%d{HH:mm:ss.SSS}) %gray([%thread]) %highlight(%-5level) %magenta(%logger{36}) - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Used to generate json formatted messages, preferred by NAIS. -->
    <appender name="STDOUT_JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>

    <!-- logLevel and logAppender are configured as environment variables. -->
    <root level="${logLevel:-INFO}">
        <appender-ref ref="${logAppender:-STDOUT_PRETTY}"/>
    </root>

</configuration>
